<div class="jumbotron text-center box-shadow top-padding">
  <div>
    <h1>My Recipes</h1>
    <h3>Find the recipe you want or Upload your own.</h3>
  </div>
  </br>
  <%= link_to "Sign up now!", "", class: "btn btn-lg btn-primary box-shadow"%>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow text-center">
       Guest
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and sign up later.
    </h2>
    <p><%= link_to "Browse Recipes","",class: "btn btn-warning btn-small box-shadow" %></p>
  </div>
  
  <div class="col-lg-4">
    <h3 class="midrow text-center">
       Guest
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and sign up later.
    </h2>
    <p><%= link_to "Browse Recipes","",class: "btn btn-warning btn-small box-shadow" %></p>
  </div>
  
  <div class="col-lg-4">
    <h3 class="midrow text-center">
       Guest
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and sign up later.
    </h2>
    <p><%= link_to "Browse Recipes","",class: "btn btn-warning btn-small box-shadow" %></p>
  </div>
</div>
